*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    
}
.header__nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__nav{
    padding: 20px 0;
    background-color: darkkhaki;
    
}
.header__nav-list{
    display: flex;
    gap: 30px;
}
.header__nav-icon{
    font-size: 40px;
    color: black;
}
.header__nav-link{
    font-size: 30px;
    color: bisque;
}
.header__content{
height: 800px;
background-color: grey;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;



}
.header__content h1{
    color: aquamarine;
    font-size: 50px;
    
}
.header__content p{
    font-size: 30px;
    color: blueviolet;
}


